// ---------
// base.styl
// ---------

// Font size
// $font-size-large          = 1.125em;
$font-size-large          = 1em;
// $font-size-larger         = 1.25em;
$font-size-larger         = 1.125em;
// $font-size-largest        = 1.375em;
$font-size-largest        = 1.25em;

// Headings font size
$font-size-headings-step  = .125em;
// Custom font-size
// $font-size-headings-base  = 1.875em;
$font-size-headings-base  = 1.6em;

